@import url("https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Laila", sans-serif;
  }
}

.borderRadius {
  border-radius: 41% 36% 64% / 41% 36% 64% 59%;
}

.borderRadiusTwo {
  border-radius: 41% 36% 64% / 41% 36% 64% 59%;
}
